{% extends "core/base.html" %}
{% block content %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ object.author }}</a>
              <small class="text-muted">{{ object.date_posted|date:"j F Y" }}--------<a href="{% url 'category' post.category %}">
                {{ post.category }}</a></small> 
            </small>
              {% if object.author == user  %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1"  href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1"  href="{% url 'post-delete' object.id %}">Delete</a>
              </div>
              {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</a></h2>
            <div>
              {% if post.photos %}
              <img src="{{ post.photos.url }}" width="500" style="margin-bottom: 10px;">
              {% endif %}
              {% if post.photos2 %}
              <img src="{{ post.photos2.url }}" width="500" style="margin-bottom: 10px;">
              {% endif %}
              {% if post.photos3 %}
              <img src="{{ post.photos3.url }}" width="500" style="margin-bottom: 10px;">
              {% endif %}
              {% if post.photos4 %}
              <img src="{{ post.photos4.url }}" width="500" style="margin-bottom: 10px;">
              {% endif %}
              {% if post.photos5 %}
              <img src="{{ post.photos5.url }}" width="500" style="margin-bottom: 10px;">
              {% endif %}
              {% if post.photos6 %}
              <img src="{{ post.photos6.url }}" width="500" style="margin-bottom: 10px;">
              {% endif %}
              {% if post.photos7 %}
              <img src="{{ post.photos7.url }}" width="500" style="margin-bottom: 10px;">
              {% endif %}
              {% if post.photos8 %}
              <img src="{{ post.photos8.url }}" width="500" style="margin-bottom: 10px;">
              {% endif %}
              {% if post.photos9 %}
              <img src="{{ post.photos9.url }}" width="500" style="margin-bottom: 10px;">
              {% endif %}
            </div> 
            <hr>
            <h5>Cmimi: € {{ post.price }}</h5><hr>
            <h5>Numri i celularit: {{ object.author.profile.phone_number }}</h5><hr>
            <p class="article-content">{{ object.content }}</p>
          </div>
        </article>    
{% endblock content %}



